#fb:hover {
    filter: invert(35%) sepia(64%) saturate(849%) hue-rotate(187deg) brightness(90%) contrast(78%);
}

#tw:hover {
    filter: invert(49%) sepia(45%) saturate(1822%) hue-rotate(176deg) brightness(97%) contrast(95%);
}

#in:hover {
    filter: invert(31%) sepia(33%) saturate(2440%) hue-rotate(289deg) brightness(96%) contrast(97%);
}

#wp:hover {    
    filter: invert(63%) sepia(94%) saturate(412%) hue-rotate(86deg) brightness(92%) contrast(87%);
}

h2 {
    padding-top: 50px; 
    margin-top: 0;   
    margin-left: 100px;
}

.media_links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

a {
    width: 40%;
    text-align: center;
    font-size: 25px; 
    margin: 20px 0;
}

a:hover {
    font-size: 30px !important;
}

.contacts {
    display: flex;
    width: 100%;
}

.image img {
    width: 550px;
    height: 400px;
    border-radius: 25px;
}

figcaption {
    font-size: 18px;
    font-style: italic;
    margin-top: -40px;
    margin-left: 15px;
}

.icon, h2 > img {
    filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(325deg) brightness(101%) contrast(105%);
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

a:hover img {
    height: 40px;
    width: 40px;
}

tr td:first-of-type {
    text-align: right;
    padding-right: 10px;
}

.contact_form {
    min-width: 220px;
    margin-left: 80px;
}

.contact_infos {
    width: 65%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 20px;
}

button {
    border: 2px solid black;
    border-radius: 25px;
    height: 50px;
    width: 150px; 
    font-weight: bold;
    font-size: 14px;
    margin-left: 40px;
}

input {
    border: 2px solid black;
    border-radius: 25px;
    height: 35px;
    width: 200px;
    margin-top: 10px;
}

textarea {
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 10px;
    width: 200px;
}

input::placeholder {
    font-style: italic;
    font-size: 16px;
}

.text_below_img, .social_media {
    margin-inline: 50px;
}

hr {
    margin: 50px 0;
}

p {
    line-height: 30px;
    text-align: justify;
}

span {
    font-style: italic;
}

@media screen and (max-width: 1080px)
{
    .contact_form {
        min-width: 220px;
        margin-left: 40px;
    }

    .image img {
        width: 350px;
        height: 240px;
        border-radius: 15px;
    }
    
    figcaption {
        font-size: 14px;
        font-style: italic;
        margin-top: -30px;
        margin-left: 10px;
    }

    p, a {
        font-size: medium;
    }

    h2 {
        padding-top: 30px; 
        margin-top: 0;   
        margin-left: 50px;
    }

    .contact_infos {
        width: 60%;
        margin-left: 40px;
    }

    a:hover {
        font-size: 20px !important;
    }

    a:hover img {
        height: 25px;
        width: 25px;
    }

    a {
        width: 50%;
        text-align: center;
        margin: 5px 0;
    }

    .icon {
        margin-right: 10px;
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 850px)
{
    h2 {
        font-size: large;
        margin-left: 25px;
    }

    h2 img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
    .contacts  {
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
    }

    .contact_infos {
        justify-content: center;
        width: auto;
        margin-inline: 20px;
    }

    .image img {
        width: 300px;
        height: 200px;
    }

    p {
        margin-inline: 15px;
        line-height: 25px;
    }

    hr {
        margin: 20px 0;
    }

    .text_below_img, .social_media {
        margin-inline: 15px;
    }

    .social_media p:last-of-type {
        display: none;
    }

    .media_links {
        margin-bottom: 20px;
    }

    .contact_form {
        min-width: auto;
        margin: 0 auto;
    }

    td, label {
        font-size: medium;
    }

    textarea {
        height: 100px;
    }

    input {
        height: 25px;
        margin-top: 5px;
    }
   
    button {
        height: 40px;
        width: 120px; 
        font-size: 12px;
        margin-left: 45px;
    }

    button:last-of-type {
        margin-bottom: 20px;
    }

    a {
        width: 40%;
        margin-bottom: 15px;
    }

    a:hover {
        font-size: 18px !important;
    }

    a:hover img {
        height: 30px;
        width: 30px;
    }

    input::placeholder {
        font-size: 14px;
    }
}