@font-face {
    font-family: Header_Font;
    src: url(../fonts/Audiowide-Regular.ttf);
}

body {
    margin: 0;
    font-size: larger;
    color: white;
    font-family: Header_Font;
}

hr {
    display: none;
}

.main {
    height: 600px;
    width: 85vw;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 5%, rgba(0,0,0,0.9) 50%, rgba(0,0,0,0.9) 95%, rgba(0,0,0,0) 100%);
}

.prvi_dio {
    display: flex;
}

.prvi_dio .links {
    margin-right: 40px;
    width: 100px;
    text-align: center;
}

.links div {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .prvi_dio div span:first-of-type {
        line-height: 80px;
    }

    .contact {
        line-height: 40px;
    }

    button {
        border: 1px solid black;
        border-radius: 30px;
        height: 60px;
        width: 180px;
        font-size: large;
        margin-top: 25px;
    }

    button:hover
    {
        background-color: darkred;
        color: white;
    }

    button:active {
        background-color: orange;
    }

    a, img, button:hover {
        transition: 0.1s linear all;
    }

    .legals {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-right: -80px;
    }

    .legals > div {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 280px;
        height: 40px;
    }

    a {
        text-decoration: none;
        color: white;
    }

    .prvi_dio a:hover
    {
        font-size: larger;
        color: darkred;
        text-align: center;
    }

    .prvi_dio a:active
    {
        color: orange;
    }

.iframe_map {
    width: 400px;
    height: 400px;
    margin-right: 10px;
    border: 2px solid white;
    border-radius: 25px;
}

.rights {
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
}
    .copyright {
        text-align: center;
    }

    .vert_line {
        height: auto;
        border-left: 2px solid white;
    }

    .vert_line.one {
        margin-right: 30px;
    }

    .vert_line.two {
        margin-left: 30px;
    }

    .vert_line.three {
        margin-inline: 30px;
    }

    .maker {
        margin: auto 0;
    }

@media screen and (min-width: 1081px) and (max-width: 1650px) {
    .main {
        height: 950px;
    }

    .map {
        width: 100%;
        text-align: center;
    }

    .iframe_map {
        width: 80%;
    }
}

@media screen and (max-width: 1080px) {

    body {
        font-size: medium;
    }

    .main {
        flex-wrap: wrap;
        height: 680px;
    }

    .prvi_dio .links {
        margin-right: 20px;
        width: 80px;
    }

    .vert_line.one {
        margin-right: 10px;
    }

    .vert_line.two {
        margin-left: 10px;
    }

    .prvi_dio div span:first-of-type {
        line-height: 60px;
    }

    .contact {
        line-height: 30px;
    }

    .legals div {
        width: 240px;
        height: 30px;
    }

    .legals {
        margin-right: -50px;
    }

    button {
        height: 40px;
        width: 120px;
        font-size: medium;
        margin-top: 15px;
    }

    .map {
        margin-top: 15px;
        width: 100%;
        text-align: center;
    }

    .map p {
        display: none;
    }

    .iframe_map {
        height: 300px;
        width: 80%;

    } 
}

@media screen and (max-width: 850px) {

    body {
        font-size: smaller;
    }

    .main {
        height: 480px;
        width: 95vw;
    }

    .prvi_dio {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .prvi_dio .links {
        margin-right: 5px;
        width: 80px;
    }

    .legals {
        width: 100%;
        flex-direction: initial;
        margin-right: 0px;
        flex-wrap: wrap;
    }

    hr {
        display: block;
        color:white;
        width: 90%;
    }

    .legals div {
        width: 35%;
        height: 30px;
        text-align: center;
        margin-top: 20px;
    }

    .contact {
        width: 60%;
    }
    .rights {
        margin-top: 0;
        font-size: x-small;
    }

    .copyright {
        font-size: xx-small;
    }
    
    .map, .vert_line.two {
        display: none;
    }

    .vert_line.three {
        margin-inline: 10px;
    }

    button {
        height: 30px;
        width: 100px;
        font-size: small;
        margin-top: 10px;
    }
}