.auto-height-iframe {
    border: none;
    width: 100%;
    margin: 0;
}

#loader {
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}

#loader_icon {
    border: 16px solid transparent;
    border-radius: 50%;
    border-top: 16px solid orange;
    border-bottom: 16px solid orange;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#theme_button {
    position: absolute;
    top: 0%;
    right: 12%;
    width: 100px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#theme_button button {
    width: 64px;
    height: 64px;
    border-radius: 100px;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

#theme_button img {
    margin: 0px;
    width: 35px;
    height: 35px;
}

#theme_button button:hover img {
    filter: invert(57%) sepia(99%) saturate(823%) hue-rotate(360deg) brightness(101%) contrast(103%);
    width: 45px;
    height: 45px;
}

#theme_button button:hover {
    background-color: white;
    width: 70px;
    height: 70px;
    box-shadow: 0px 0px 25px 5px orange;
}

#theme_button button:active {
    width: 60px;
    height: 60px;
}

#theme_button button:active img {
    width: 40px;
    height: 40px;
}

#theme_button button:hover img, #theme_button button:hover {
    transition: all linear 0.1s;
}

#theme_button button:not(:hover), #theme_button button:not(:hover) img {
    transition: all linear 0.1s;
}

@font-face {
    font-family: Main_Font;
    src: url(../fonts/Tektur-VariableFont_wdth\,wght.ttf);
}

header {
    margin-bottom: -6px;
}

body {
    font-family: Main_Font;
    margin: 0px;
    font-size: larger;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color: white;
}

main {
    margin: 0 auto;
    width: 85vw;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 5%, rgba(0,0,0,0.9) 50%, rgba(0,0,0,0.9) 95%, rgba(0, 0, 0, 0) 100%);
}

hr {
    width: 98%;
    border: 1px solid white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    transition: 0.1s linear all;
    font-size: larger;
    color: darkred;
}

a:not(:hover) {
    transition: 0.1s linear all;
}

a:active {
    color: orange;
}

button:hover
{
    background-color: darkred;
    transition: 0.1s linear all;
    color: white;
}

button:active {
    background-color: orange;
}

@media screen and (max-width: 850px)
{
    main {
        width: 95vw;
    }
}