.auto-height-iframe {
    border: none;
    width: 100%;
    margin: 0;
}

@font-face {
    font-family: Main_Font;
    src: url(../fonts/Tektur-VariableFont_wdth\,wght.ttf);
}

header {
    margin-bottom: -6px;
}

body {
    font-family: Main_Font;
    margin: 0px;
    font-size: larger;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    transition: 0.1s linear all;
    font-size: larger;
    color: darkred;
}

a:not(:hover) {
    transition: 0.1s linear all;
}

a:active {
    color: orange;
}

button:hover
{
    background-color: darkred;
    transition: 0.1s linear all;
    color: white;
}

button:active {
    background-color: orange;
}