@font-face {
    font-family: Header_Font;
    src: url(../fonts/Audiowide-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-size: larger;
    font-family: Header_Font;
    color: white;
}

.background_header {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;

    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 5%, rgba(0,0,0,0.9) 50%, rgba(0,0,0,0.9) 95%, rgba(0,0,0,0) 100%);
}

.banner {
    width: 90%;
    height: 300px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(../images/background_header.gif);
    background-position: center;
    background-size: cover;
    border-radius: 50px;
    -webkit-box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,1);
}

.banner_text {
    font-size: xx-large;
    text-align: center;
}

span {
    font-size: 50px;
}

.banner_text:hover .colorup {
    font-size: 80px;
    color: yellow;
}

.banner_text:hover {
    text-shadow: 5px 5px 0px black;
    font-size: 40px;
    color: lightsalmon;
}

.main {
    display: flex;
    height: 165px;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    min-width: 120px;
    height: 160px;
    margin-inline: 30px;
    text-align: center;
}

.logo img {
    height: 120px;
    width: 120px;
    margin-left: 30px;
    filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(325deg) brightness(101%) contrast(105%);
}

.logo img:hover {
    filter: invert(8%) sepia(97%) saturate(5633%) hue-rotate(360deg) brightness(83%) contrast(109%);
}

.logo img:active {
    filter: invert(47%) sepia(99%) saturate(1067%) hue-rotate(10deg) brightness(90%) contrast(101%);
}

.menus {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.prvi_red {
    height: 80px;
    width: 95%;

    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

.email {
    width: 280px;
}

.tel {
    width: 260px;
}

.basket, .login {
    width: 50px;
}

.prvi_red > div {
    height: 30px;
    display: flex;
    align-items: center;
    padding: 5px;
}

    .social_media {
        display: flex;
        justify-content: space-around;
        width: 200px;
    }

    .social_media div {
        width: 40px;
    }

    :is(.social_media, .basket, .login) img:hover {
        height: 40px;
        width: 40px;
    }
    
    .icon {
        filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(325deg) brightness(101%) contrast(105%);
    }

    #fb:hover {
        filter: invert(35%) sepia(64%) saturate(849%) hue-rotate(187deg) brightness(90%) contrast(78%);
    }

    #tw:hover {
        filter: invert(49%) sepia(45%) saturate(1822%) hue-rotate(176deg) brightness(97%) contrast(95%);
    }

    #in:hover {
        filter: invert(31%) sepia(33%) saturate(2440%) hue-rotate(289deg) brightness(96%) contrast(97%);
    }

    #wp:hover {    
        filter: invert(63%) sepia(94%) saturate(412%) hue-rotate(86deg) brightness(92%) contrast(87%);
    }

    .prvi_red img {
        height: 30px;
        width: 30px;
    }

    #search_bar {
        border: 1px solid black;
        font-size: large;
        height: 40px;
        width: 150px;
        border-radius: 25px;
    }

    .basket {
        margin-left: auto;
    }

    .login img {
        margin-right: 10px;
    }

    .basket, .login {
        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2835%) hue-rotate(288deg) brightness(117%) contrast(100%);
    }

.drugi_red {
    height: 80px;
    width: 95%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px white solid;
}

.drugi_red > div {
    height: 30px;
    width: 200px;

    display: flex;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

:is(.prvi_red, .drugi_red) a:hover
{
    font-size: larger;
    color: darkred;
}

:is(.prvi_red, .drugi_red) a:active
{
    color: orange;
}

a, img, button, .banner_text, span:hover {
    transition: 0.1s linear all;
}

.banner_text, span:not(:hover) {
    transition: 0.1s linear all;
}

@media screen and (max-width: 1080px) {
    body {
        font-size: small;
    }

    .logo img {
        height: 120px;
        width: 120px;
    }

    #search_bar {
        width: 120px;
        height: 30px;
        margin-inline: 0px;
    }

    .social_media {
        width: 160px;
    }

    .prvi_red img {
        height: 25px;
    }

    .prvi_red > div:not(.basket, .login)
    {
        margin-inline: 15px;
    }

    .banner_text:hover span {
        font-size: 60px;
    }
}

@media screen and (max-width: 850px) {
    body {
        font-size: small;
    }

    .background_header {
        height: 190px;
        width: 95vw;
    }

    .banner {
        height: 120px;
    }

    .banner_text {
        font-size: medium;
    }

    span {
        font-size: large;
    }
    

    .banner_text:hover {
        font-size: large;
    }

    .banner_text:hover .colorup {
        font-size: larger;
    }

    .remove_mq {
        display: none;
    }

    .logo {
        min-width: 60px;
        height: 60px;
        margin: 0px;
    }

    .logo img {
        height: 60px;
        width: 60px;
        margin-left: 10px;
    }

    .main {
        height: 70px;
    }

    .prvi_red img {
        height: 20px;
    }

    .prvi_red, .drugi_red {
        height: 34px;
    }

    .prvi_red > div:not(.basket, .login)
    {
        margin-inline: 0px;
    }

    .prvi_red :is(.email, .tel, .social_media), .drugi_red .faq {
        display: none;
    }


    .prvi_red > div {
        padding: 0px;
    }

    #search_bar {
        width: 120px;
        height: 25px;
        margin-inline: 0px;
    }

    :is(.social_media, .basket, .login) img:hover {
        height: 30px;
        width: 30px;
    }
    .drugi_red > div {
        width: auto;
    }
}