main {
    display: flex;
    justify-content: center;
}

.main {
    height: 98%;
    width: 90%;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.popularne_kategorije {
    height: 100px;
    width: 100%;
    font-size: larger;
    border-bottom: 2px solid white;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background: linear-gradient(90deg, rgba(160, 57, 57, 0) 0%, rgba(160, 57, 57, 0.3) 2%, rgba(160, 57, 57, 0.3) 50%, rgba(160, 57, 57, 0.3) 98%, rgba(160, 57, 57, 0) 100%);
}

.vert_line {
    height: 80%;
    max-width: 0px;
    border-left: 2px white solid;
}

a:hover img {
    box-shadow: 0px 0px 25px 5px darkred;
    width: 280px;
    height: 280px;
}

.bling {
    width: 260px;
    height: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.popularne_kategorije div:not(:first-of-type) {
    width: 230px;
    text-align: center;
}

.popularni_proizvodi {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 2px white solid;
}

.blinger {
    width: 100%;
    height: 60px;
    font-size: 50px;
    margin: 20px;
    animation: blinger 1s linear infinite;

    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes blinger {
    50% {font-size: 35px}
}

section {
    width: 300px;
    height: max-content;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.popularni_proizvodi section {
    height: 480px;
}

.popularni_proizvodi section:hover img {
    transition: 0.1s linear all;
}

.popularni_proizvodi section:not(:hover) img {
    transition: 0.1s linear all;
}

span {
    font-weight: bold;
    text-align: center;
    margin: 8px;
}

.intern_product {
    display: flex;
}

img {
    height: 250px;
    width: 250px;
    border-radius: 25px;
    margin-bottom: 10px;
}

.blog {
    width: 100%;
    border-bottom: 2px white solid;

    display: flex;
    align-items: flex-start;
}

.blog section {
    width: 100%;
}

.blog section img {
    float: left;
    height: 220px;
    width: 300px;
    margin: 20px;
}

.blog img:hover {
    height: 230px;
    width: 310px;
    transition: 0.1s linear all;
    filter: brightness(115%);
}

.blog section:nth-of-type(2) img:hover {
    height: 190px;
    width: 310px;
    transition: 0.1s linear all;
}

:is(.blog, .blog section:nth-of-type(2)) img:not(:hover) {
    transition: 0.1s linear all;
}

.blog section:nth-of-type(2) img {
    float: right;
    height: 180px;
}

.blog p {
    margin: 20px;
    text-align: justify;
    line-height: 30px;
}

.blog p::first-letter {
    font-size: 30px;
}

.newsletter {
    height: max-content;
    width: 100%;
}

.newsletter p, h2, h3 {
    text-align: center;
}

.newsletter label {
    font-size: small;
}

.newsletter #mail {
    font-size: medium;
}

.newsletter div {
    margin-left: 25px;
}

.newsletter input[type="checkbox"] {
    accent-color: darkred;
}

.newsletter input[type="email"] {
    border: 2px solid black;
    border-radius: 25px;
    height: 40px;
    width: 200px;
    margin: 10px;
}

input::placeholder {
    font-size: larger;
}

.newsletter button {
    border: 2px solid black;
    border-radius: 25px;
    height: 50px;
    width: 100px; 
    margin: 25px;
    font-weight: bold;
}

button:hover
{
    background-color: darkred;
    transition: 0.1s linear all;
    color: white;
}

button:active {
    background-color: orange;
}

@media screen and (max-width: 1080px) {
    .popularne_kategorije {
        font-size: large;
        height: 80px;
    }

    h2 {
        font-size: larger;
    }
    
    .blog {
        font-size: medium;
    }

    .blog section img {
        float: none;
        display: block;
        text-align: center;
        height: 150px;
        width: 250px;
        margin: 0 auto;
    }
    
    .blog section:nth-of-type(2) img {
        float: none;
        display: block;
        margin: 0 auto;
        height: 120px;
    }

    .blog img:hover {
        height: 160px;
        width: 260px;
        transition: 0.1s linear all;
        filter: brightness(115%);
    }
    
    .blog section:nth-of-type(2) img:hover {
        height: 130px;
        width: 260px;
        transition: 0.1s linear all;
    }

    a:hover img {
        box-shadow: 0px 0px 25px 5px darkred;
        width: 200px;
        height: 200px;
    }

    .popularni_proizvodi section {
        height: 400px;
    }
}

@media screen and (max-width: 850px) {
    .bling, .blinger {
        display: none;
    }

    .popularne_kategorije {
        font-size: small;
        height: 40px;
    }

    .popularni_proizvodi {
        font-size: small;
    }
    .popularni_proizvodi img {
        height: 150px;
        width: 150px;
    }

    section {
        width: 200px;
    }

    .blog {
        flex-wrap: wrap;
    }

    .blog p {
        margin: 10px;
        line-height: 25px;
    }

    .newsletter {
        font-size: medium;
    }

    .popularni_proizvodi section {
        height: 350px;
    }
}