<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <script src="../js/javascript.js"></script>
        <link rel="stylesheet" href="../css/footer.css">
    </head>
    
    <body>
        <object>
            <div class="main">
                <div class="prvi_dio">
                    <div class="links">
                        <span><strong>Sadržaj</strong></span>
                        <div class="home">
                            <a href="../index.html" target="_parent"> Naslovnica </a>
                        </div>

                        <div class="products">
                            <a href="../products.html" target="_parent"> Proizvodi </a>
                        </div>

                        <div class="about">
                            <a href="../about.html" target="_parent"> O nama </a>
                        </div>

                        <div class="contacts">
                            <a href="../contact.html" target="_parent"> Kontakti </a>
                        </div>     
                    </div>

                    <div class="vert_line one"></div>

                    <div class="contact">
                        <span><strong>Kontaktirajte nas!</strong></span>
                            <br>
                        <span><strong>E-mail:</strong> teleprodaja@gmail.com </span>
                            <br>
                        <span><strong>Tel:</strong> 022 123 321 </span>
                            <br>
                        <span><strong>Golub pismonoša:</strong> Oliver Golubović </span>
                            <br>
                        <span><strong>Adresa:</strong> ul. Brokulice Hrabroga 2, Šibenik </span>
                            <br>
                        <button>Kontakt forma</button>
                    </div>

                    <div class="vert_line two"></div>

                    <div class="legals">
                        <div>
                            <a href="../terms.html">Uvjeti poslovanja</a>
                        </div>

                        <div>
                            <a href="../terms.html">Uvjeti korištenja</a>
                        </div>

                        <div>
                            <a href="../privacy.html">Pravila o privatnosti</a>
                        </div>

                        <div>
                            <a href="../cookies.html">Pravila o kolačićima</a>
                        </div>
                    </div>
                </div>
                
                <div class="map">
                    <p>
                        Lokacija   
                    </p>
                    <iframe class="iframe_map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6999.21887334161!2d15.884451571492656!3d43.71473987587183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13352585f34010b7%3A0x5cce4b3085802e0!2sObalna%20baterija%202%20ex%20jna!5e1!3m2!1shr!2shr!4v1703952748510!5m2!1shr!2shr" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                    <hr>
                <div class="rights">
                    <div class="copyright">
                        <span>Autorska prava © 2024 TeleProdaja.</span> 
                            <br> 
                        <span>Sva prava nisu zadržana.</span>
                    </div>

                    <div class="vert_line three"></div>
                       
                    <div class="maker">
                        <span>Izrada web stranica – Vaša tvrtka</span>
                    </div>
                    
                </div>
            </div>
        </object>
    </body>
</html>